@media (min-width: 425px) {
    
  /* header */

  .dropdown .down-arrow {
    font-size: 12px;
    margin-left: 3px;
  }

  #main-nav li > a {
    padding: 0 8px;
    font-size: 12px;
  }

  #main-nav li li a {
    padding: 3px 6px;
    color: #043a56;
    line-height: 20px;
  }

  #hero-section {
    height: 354px;
  }

  #hero-content {
    margin-top: 90px;
    margin-left: 11.4%;
  }

  #hero-content h3 {
    font-size: 15px;
  }

  #hero-content .divider {
    width: 69px;
  }

  #hero-content h1 {
    margin-top: 10px;
    width: 100%;
    font-size: 22px;
    height: auto;
  }

  .col_small {
    width: 85%;
  }

  .small-photo {
    width: 100%;
    height: auto;
  }

  .col_large {
    width: 85%;
  }

  .col_last {
    width: 85%;
  }

  /* meeting voting */

  #meeting-voting {
    height: 407px;
  }

  #meeting-voting h1 {
    margin: 3% 0 0 6.25%;
    height: 27px;
    font-size: 22px;
  }

  .checkbox {
    width: 19px;
  }

  #meeting-voting .col_third h3 {
    top: 28px;
    height: 28px;
    font-size: 20px;
  }

  #meeting-voting .col_third p {
    position: absolute;
    top: 56px;
    height: auto;
    font-size: 11px;
    padding-right: 10px;
  }

  .meeting-section {
    position: absolute;
    left: 0;
    top: 175px;
  }

  .vote-container {
    position: relative;
    margin-top: 280px;
    margin-left: 13.5%;
  }

  #meeting-voting h2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 49px;
    font-size: 20px;
    color: #fff;  
  }

  .meeting-button {
    position: absolute;
    top: 5px;
    left: 240px;
    border: none;
    border-radius: 0px;
  }

  .col_third .barrick-background {
    height: 394px;
  }

  .col_third h3 {
    top: 46%;
    font-size: 32px;
  }

  .col_third .arrow {
    top: 60%;
    left: 27px;
    width: 97px;
  }

  #annual-meeting {
    height: 281px;
  }

  #annual-meeting h1 {
    margin-top: 35px;
    height: 35px;
    font-size: 25px;
  }

  /* font-size: 24px; margin: 20px 0 0 0;*/
  .annual-section h2 {
    margin: 13px 0 0 0;
    font-family: 'Open Sans Bold';
    font-size: 18px;
    color: #043a56;
  }

  /* font-size: 24px; margin: 16px 0 0 0; */
  .annual-section h3 {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #043a56;
  }

  /* font-size: 14px */
  .annual-section h4 {
    font-size: 13px;
    font-family: 'Open Sans Bold';
    color: #ba880b;
  }
}

@media (min-width: 768px) {

  .dropdown .down-arrow {
    font-size: 18px;
    margin-left: 8px;
  }

  #logo {
    left: 8%;
  }

  #main-nav li > a {
    padding: 0 12px;
    font-size: 14px;
  }

  #main-nav li li a {
    padding: 6px 10px;
  }

  #proxy, #annual {
    display: block;
  }

  header .button {
    top: 26px;
  }

  .shrink .button {
    top: 13px;
  }

  .vote {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }

  #hero-section {
    height: 473px;
  }

  #hero-content {
    margin-top: 110px;
    margin-left: 14.4%;
  }

  #hero-content h3 {
    font-size: 20px;
  }

  #hero-content .divider {
    margin-top: 20px;
    width: 99px;
    height: 1px;
    border-bottom: solid 2px #fff;
  }

  #hero-content h1 {
    font-family: 'Open Sans Bold';
    margin-top: 15px;
    margin-bottom: 25px;
    width: 556px;
    height: 124px;
    font-size: 46px;
    color: #fff;
  }

  #hero-button-container {
    width: 73px;
    height: 73px;
    padding: 23px 18px 18px 29px;
    border-radius: 36.5px;
  }

  #hero-button-container .hero-play {
    font-size: 28px;
  }

  #hero-content span {
    margin-top: 28px;
    font-size: 21px;
  }

  /* chairman */

  #chairman-info {
    left: 10%;
  }

  #director-info {
    top: 70px;
  }

  #chairman-info h2,
  #director-info h2 {
    width: 27.8%;
    font-size: 28px;
  }

  #chairman-info .quote,
  #director-info .quote {
    top: 112px;
    left: 0px;
    width: 40px;
  }

  #chairman-info h3,
  #director-info h3 {
    top: 112px;
    left: 50px;
    width: 300px;
    height: auto;
    font-size: 14px;
  }

  #chairman-picture {
    width: 240px;
    height: 436px;
  }

  #director-picture {
    margin-left: 10%;
    width: 260px;
    height: 412px;
  }

  .chairman-section,
  .director-section {
    position: absolute;
    top: 225px;
    left: 50px;
  }

  #additional-info h2 {
    margin-top: 50px;
    font-size: 26px;
    height: 34px;
  }

  /* margin-bottom: 54px; height: 763px; */
  #meeting-voting {
    height: 543px;
    margin-bottom: 40px;
  }

  /* font-size: 34px, height: 46px; margin: 5% 0 3% 6.25% */
  #meeting-voting h1 {
    margin: 4% 0 2.5% 6.25%;
    height: 42px;
    font-size: 28px;
    color: #fff;
  }

  .checkbox {
    width: 44px;
    height: auto;
  }

  #meeting-voting .col_third h3 {
    top: 64px;
    height: 80px;
    font-size: 29px;
  }

  /* top: 180px; height: 147px font-size: 14px; */
  #meeting-voting .col_third p {
    position: absolute;
    top: 120px;
    font-size: 14px;
  }

  .meeting-section {
    position: absolute;
    left: 0;
    top: 235px;
  }

  /* margin-top: 530px margin-left: 27.5%*/
  .vote-container {
    margin-top: 375px;
    margin-left: 15.5%;
  }

  /* font-size: 36px */
  #meeting-voting h2 {
    font-size: 29px;
  }

  .meeting-button {
    top: 0;
    left: 345px;
  }

  #annual-meeting {
    height: 375px;
  }

  #annual-meeting h1 {
    margin-top: 60px;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 40px;
    height: 40px;
    font-size: 30px;
  }

  .annual-section {
    margin-left: 10%;
    width: 38%;
  }

  .annual-section h2 {
    margin: 20px 0 0 0;
    font-size: 20px;
  }

  /* font-size: 24px; margin: 16px 0 0 0; */
  .annual-section h3 {
    margin: 16px 0 0 0;
    font-size: 17px;
  }

  /* font-size: 14px */
  .annual-section h4 {
    font-size: 14px;
  }
}


@media (min-width: 1024px) {
  #logo {
    left: 6%;
  }

  #proxy {
    right: 26%;
  }

  #annual {
    right: 21.5%;
  }

  #hero-section {
    height: 553px;
  }

  #hero-content {
    margin-top: 145px;
    margin-left: 17.4%;
  }

  .vote-container {
    margin-top: 400px;
    margin-left: 24.5%;
  }

  #meeting-voting {
    height: 635px;
  }

  #annual-meeting {
    height: 440px;
  }
}

@media (min-width: 1199px) {
  #hero-section {
    height: 664px;
  }

  #picture-content {
    margin: 20px 90px;
  }

  /* float: left margin: 0 20px 20px 0*/
  .col_small {
    width: 300px;
    margin: 0 20px 20px 0;
    float: left;
  }

  .small-photo {
    width: 300px;
    height: 300px;
  }

  /* margin: 0 20px 20px 0 float: left*/
  .col_large {
    height: 300px;
    width: calc(100vw - 835px);
    min-width: 300px;
    max-width: 620px;
    margin: 0 20px 20px 0;
    float: left;
  }

  /* float: left margin: 0 0 20px 0*/
  .col_last {
    width: 300px;
    margin: 0 0 20px 0;
    float: left;
  }

  .large-photo {
    width: 100%;
    height: 300px;
  }

  #chairman-info {
    top: 50px;
    left: 17.4%;
  }

  #director-info {
    top: 70px;
  }

  /* font-size: 36px; width: 27.8% */
  #chairman-info h2,
  #director-info h2 {
    width: 27.8%;
    font-size: 36px;
  }

  /* top: 152px left: 13px width: 52px */
  #chairman-info .quote,
  #director-info .quote {
    top: 152px;
    left: 13px;
    width: 52px;
  }

  /* font-size: 14px; top: 150px left: 80px width: 360px */
  #chairman-info h3,
  #director-info h3 {
    top: 150px;
    left: 80px;
    width: 360px;
    font-size: 14px;
  }

  #director-picture {
    margin-left: 30%;
  }

  /* display: block */
  #chairman-barrick-icon {
    display: block;
  }

  /* display: block */
  #director-barrick-icon {
    display: block;
  }

  /* top: 280px left: 80px */
  .chairman-section,
  .director-section {
    top: 280px;
    left: 80px;
  }

  #additional-info {
    margin: 0 90px;
  }

  #additional-info h2 {
    margin-top: 80px;
    font-size: 34px;
    height: 46px;
  }

  /* width: 380px float: left margin: 3.5% 4.1% 7% 0*/
  .col_third {
    width: 380px;
    margin: 3.5% 4.1% 7.5% 0;
    float: left;
  }

  .col_third .barrick-background {
    width: 380px;
    height: 195px;
    background-size: contain;
  }

  .col_third h3 {
    top: 84px;
    height: 24px;
    font-size: 21px;
  }

  /* width: 97px top: 78px; */
  .col_third .arrow {
    position: absolute;
    top: 78px;
    left: 267px;
    width: 97px;
    height: auto;
    cursor: pointer;
  }

  /* margin-bottom: 54px; height: 763px; */
  #meeting-voting {
    height: 763px;
    margin-bottom: 54px;
  }

  /* font-size: 34px, height: 46px; margin: 5% 0 3% 6.25% */
  #meeting-voting h1 {
    margin: 5% 0 3% 6.25%;
    height: 40px;
    font-size: 34px;
    color: #fff;
  }

  /* default: width 54px; */
  .checkbox {
    width: 54px;
  }

  /* width: 26.6%; */
  #electing, #appointing, #pay-advisory {
    width: 26.6%;
  }

  #meeting-voting .col_third + .col_third {
    display: block;
  }

  #meeting-voting .col_third h3 {
    top: 78px;
    height: 92px;
    font-size: 34px;
  }

  #meeting-voting .col_third p {
    top: 180px;
    height: 147px;
    font-size: 14px;
    padding: 0;
  }

  .meeting-section {
    position: absolute;
    left: 0;
    top: 353px;
  }

  /* margin-top: 530px margin-left: 27.5%*/
  .vote-container {
    margin-top: 530px;
    margin-left: 27.5%;
  }

  /* font-size: 36px */
  #meeting-voting h2 {
    font-size: 36px;
  }

  /* left: 470px */
  .meeting-button {
    left: 470px;
  }

  /* height: 528px */
  #annual-meeting {
    height: 528px;
  }

  /* margin-left: 28.5%; font-size:36px margin-top: 85px margin-bottom: 70px; height: 49px; */
  #annual-meeting h1 {
    margin-top: 85px;
    width: 71.5%;
    margin-left: 28.5%;
    margin-bottom: 70px;
    height: 49px;
    font-size: 36px;
  }

  /* margin-left: 28.5%, width: 21% */
  .annual-section {
    margin-left: 28.5%;
    width: 21%;
  }

  .annual-second {
    margin-left: 2%;
    float: left;
  }

  /* font-size: 24px; margin: 20px 0 0 0;*/
  .annual-section h2 {
    margin: 20px 0 0 0;
    font-size: 24px;
  }

  /* font-size: 24px; margin: 16px 0 0 0; */
  .annual-section h3 {
    margin: 16px 0 0 0;
    font-size: 24px;
  }

  /* font-size: 14px */
  .annual-section h4 {
    font-size: 14px;
  }

  /* at max size, width: 299px, height: 50px, bottom: 25px, font-size: 18px; */

  #search-proxy {
    bottom: 25px;
    width: 299px;
    height: 50px;
    font-size: 18px;
  }

  /* max: font-size: 18px */
  #search-proxy::placeholder {
    font-size: 18px;
  }

  /* at max: bottom: 37px */
  #search-icon {
    bottom: 37px;
  }
}