/* responsive */

@media (max-width: 1199px) {
  #proxy {
    right: 31.5%;
    margin-right: 30px;
  }

  #annual {
    right: 26%;
  }

  .col_small, .col_large, .col_last {
    float: none;
    margin: 20px auto;
  }

  #chairman-barrick-icon {
    display: none;
  }

  #director-barrick-icon {
    display: none;
  }

  #chairman-info {
    position: relative;
    top: 70px;
    left: 8%;
  }

  #director-info {
    position: relative;
    top: 70px;
    left: 55%;
  }

  #chairman-picture {
    margin-top: 30px;
    margin-left: 55%;
    width: 240px;
    height: 436px;
  }

  #director-picture {
    margin-top: 30px;
    margin-left: 8%;
    width: 260px;
    height: 412px;
  }

  .col_third {
    float: none;
    margin: 20px auto;
  }

  #additional-info div:last-child {
    margin: 20px auto;
  }

  #meeting-voting .col_third h3 {
    top: 53px;
    font-size: 23px;
  }

  #meeting-voting .col_third p {
    position: absolute;
    top: 115px;
    left: 0;
    height: 147px;
    font-size: 14px;
    color: #fff;
  }
}

@media (min-width: 920px) and (max-width: 991px) {
  header {
    height: 200px;
    background-color: #fff;
    position: relative;
  }

  #logo {
    position: absolute;
    top: 64px;
    left: 9%;
  }

  #logo img {
    width: 150%;
  }

  #menu-trigger {
    display: block;
    top: 75px;
    left: 2%;
  }

  #menu-trigger img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  #main-nav {
    display: none;
  }

  #proxy {
    top: 80px;
    left: 26%;
    margin-right: 50px;
    font-size: 30px;
  }

  #annual {
    top: 80px;
    right: 28%;
    font-size: 30px;
  }

  .button.vote {
    top: 60px;
    height: 80px;
    font-size: 30px;
  }

  /* hero */

  #hero-content {
    margin-top: 75px;
    margin-left: 17.4%;
  }

  #hero-content h3 {
    font-size: 35px;
    color: #fff;
  }

  #hero-content .divider {
    margin-top: 30px;
    width: 171px;
    height: 2px;
    border-bottom: solid 2px #fff;
  }

  #hero-content h1 {
    font-family: 'Open Sans Bold';
    margin-top: 15px;
    margin-bottom: 65px;
    width: 556px;
    font-size: 50px;
    color: #fff;
  }

  #hero-content span {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
  }

  /* four picture section */

  .col_small, .col_last, .small-photo {
    width: 800px;
    height: auto;
  }

  .col_large {
    width: 800px;
    height: 800px;
  }

  #picture-content h2 {
    position: absolute;
    top: 340px;
    left: 0;
    width: 800px;
    text-align: center;
    height: 38px;
    font-size: 60px;
    color: #fff;
  }

  #picture-content .col_large h2 {
    width: 800px;
  }

  #picture-button-container .three-picture-play {
    font-size: 46px;
  }

  #picture-button-container {
    margin-left: -57px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 114px;
    height: 114px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 36px 20px 20px 45px;
    border-radius: 57px;
    cursor: pointer;
  }

  .play-button-smaller {
    width: 32px;
    height: 48px;
    border-style: solid;
    border-width: 24px 0px 24px 32px;
  }

  .more {
    width: 201px;
    height: 64.5px;
    font-size: 28px;
    font-family: 'Open Sans Bold';
    background-color: transparent;
    cursor: pointer;
  }

  .picture-section {
    position: absolute;
    top: 510px;
    left: 50%;
    margin-left: -134px;
  }

  .col_large .picture-section {
    position: absolute;
    left: 50%;
    margin-left: -134px;
  }

  #chairman-info {
    position: relative;
    top: 30px;
    left: 9%;
  }

  #director-info {
    position: relative;
    top: 10px;
    left: 35%;
  }

  #chairman-info h2,
  #director-info h2 {
    font-size: 46px;
    width: 500px;
  }

  #chairman-info .quote,
  #director-info .quote {
    width: 30px;
    height: 25px;
    top: 110px;
    left: 10px;
  }

  #chairman-info .quote,
  #director-info .quote {
    width: 80px;
    height: 60px;
    top: 130px;
    left: -10px;
  }

  #chairman-info h3,
  #director-info h3 {
    width: 500px;
    top: 130px;
    left: 80px;
    font-size: 30px;
  }

  #chairman-picture {
    margin-top: 30px;
    margin-left: 70%;
  }

  #director-picture {
    margin-top: 30px;
    margin-left: 5%;
  }

  .chairman-section,
  .director-section {
    position: absolute;
    top: 350px;
    left: 70px;
  }

  #director-divider, #chairman-divider {
    width: 100%;
  }

  /* additional info */

  #additional-info h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    height: 90px;
  }

  #additional-info {
    max-width: 1260px;
    margin: 0 auto;
    clear: both;
  }

  .col_third {
    float: none;
    width: 800px;
    height: 400px;
  }

  .col_third .barrick-background {
    width: 800px;
    height: 400px;
  }
  
  .col_third h3 {
    position: absolute;
    top: 170px;
    left: 27px;
    height: 24px;
    font-size: 50px;
    color: #fff;
    margin: 0;
  }

  .col_third .arrow {
    position: absolute;
    top: 180px;
    right: 20px;
    width: 135px;
    cursor: pointer;
  }

  /* meeting vote */

  #electing, #appointing, #pay-advisory {
    margin-top: 0;
  }

  #meeting-voting h1 {
    font-size: 46px;
    margin-top: 15px;
    margin-bottom: 45px;
  }

  #meeting-voting .col_third {
    float: none;
    width: 800px;
  }

  #meeting-voting .col_third + .col_third {
    display: none;
  }

  #meeting-voting .col_third h3 {
    top: 75px;
    font-size: 37px;
  }

  #meeting-voting .col_third p {
    top: 130px;
    left: 0;
    font-size: 27px;
  }

  #meeting-voting h2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 49px;
    font-size: 24px;
    color: #fff;  
  }

  .meeting-button {
    position: absolute;
    top: 0;
    left: 300px;
  }

  .meeting-section {
    position: absolute;
    left: 0;
    top: 470px;
  }

  #meeting-voting {
    height: 700px;
  }

  /* annual */

  #annual-meeting h1 {
  font-size: 55px;
  }
  
  .annual-section {
    margin-left: 10.5%;
    float: left;
    width: 40%;
  }

  .annual-second {
    margin-left: 4%;
    float: left;
  }

  .annual-section h2 {
    margin: 20px 0 0 0;
    font-family: 'Open Sans Bold';
    font-size: 42px;
    color: #043a56;
  }

  .annual-section h3 {
    margin: 16px 0 0 0;
    font-size: 30px;
    color: #043a56;
  }

  .annual-section h4 {
    margin: 0;
    font-size: 30px;
    font-family: 'Open Sans Bold';
    color: #ba880b;
  }

  footer {
    position: relative;
    height: 200px;
  }

  #footer-logo {
    position: absolute;
    left: 6.25%;
    bottom: 90px;
  }

  #footer-logo img {
    width: 170px;
    height: 84px;
  }

  #search-proxy {
    position: absolute;
    right: 6.25%;
    bottom: 50px;
    width: 600px;
    height: 100px;
    border-radius: 5px;
    font-size: 45px;
    background-color: #fff;
    border: solid 1px #9b9b9b;
    padding: 0px 25px;
  }

  #search-proxy::placeholder {
    font-size: 45px;
    letter-spacing: 0.5px;
    color: #acacaf;
  }

  #search-icon {
    position: absolute;
    right: 8.125%;
    bottom: 57px;
    cursor: pointer;
  }

  #search-icon {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 920px) {
  #menu-trigger {
    display: block;
  }

  #menu-trigger img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  #main-nav {
    display: none;
  }

  #proxy {
    right: 32%;
    margin-right: 50px;
  }

  #annual {
    right: 28%;
  }

  #chairman-info h2,
  #director-info h2 {
    font-size: 23px;
  }

  #chairman-info .quote,
  #director-info .quote {
    width: 30px;
    height: 25px;
    top: 110px;
    left: 10px;
  }

  #chairman-info h3,
  #director-info h3 {
    width: 300px;
    top: 110px;
    left: 45px;
    font-size: 14px;
  }

  #electing, #appointing, #pay-advisory {
    margin-top: 0;
  }

  #meeting-voting h1 {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
  }


  #meeting-voting .col_third h3 {
    top: 75px;
    font-size: 20px;
  }

  #meeting-voting .col_third p {
    top: 135px;
    left: 0;
    font-size: 13px;
  }

  #meeting-voting h2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 49px;
    font-size: 24px;
    color: #fff;  
  }

  .meeting-button {
    position: absolute;
    top: 0;
    left: 300px;
  }

  .meeting-section {
    position: absolute;
    left: 0;
    top: 390px;
  }

  #meeting-voting {
    height: 700px;
  }

  .annual-section {
    margin-left: 19.5%;
    float: left;
    width: 30%;
  }

  .annual-second {
    margin-left: 2%;
    float: left;
  }

  .annual-section h2 {
    margin: 20px 0 0 0;
    font-family: 'Open Sans Bold';
    font-size: 16px;
    color: #043a56;
  }

  .annual-section h3 {
    margin: 16px 0 0 0;
    font-size: 16px;
    color: #043a56;
  }

  .annual-section h4 {
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans Bold';
    color: #ba880b;
  }
}

@media (max-width: 767px) {
  #proxy {
    left: 26.5%;
    margin-right: 30px;
  }

  #annual {
    left: 45%;
  }

  #hero-content h3 {
    font-size: 16px;
  }

  #hero-content .divider {
    margin-top: 12px;
    width: 82px;
  }

  #hero-content h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 31px;
    color: #fff;
  }

  #chairman-info h2,
  #director-info h2 {
    font-size: 17px;
  }

  #chairman-info .quote,
  #director-info .quote {
    width: 30px;
    height: 25px;
    top: 80px;
    left: 0px;
  }

  #chairman-info h3,
  #director-info h3 {
    width: 180px;
    top: 80px;
    left: 35px;
    font-size: 14px;
  }

  #chairman-info {
    position: relative;
    top: 70px;
    left: 3%;
  }

  #director-info {
    position: relative;
    top: 70px;
    left: 50%;
  }

  #chairman-picture {
    margin-top: 30px;
    margin-left: 50%;
    width: 200px;
    height: 363px;
  }

  #director-picture {
    margin-top: 30px;
    margin-left: 3%;
    width: 200px;
    height: 317px;
  }

  .chairman-section,
  .director-section {
    position: absolute;
    top: 220px;
    left: 70px;
  }

  #additional-info h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 23px;
  }

  #additional-info {
    max-width: 1260px;
    margin: 0 auto;
    clear: both;
  }

  .col_third {
    float: none;
  }

  #meeting-voting h1 {
    font-size: 23px;
  }


  #meeting-voting .col_third h3 {
    top: 75px;
    font-size: 17px;
  }

  #meeting-voting .col_third p {
    top: 125px;
    left: 0;
    font-size: 12px;
  }

  #meeting-voting h2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 49px;
    font-size: 18px;
    color: #fff;  
  }

  .vote-container {
    position: relative;
    margin-top: 570px;
    margin-left: 9.5%;
  }

  .meeting-button {
    position: absolute;
    top: 0;
    left: 220px;
  }

  .meeting-section {
    position: absolute;
    left: 0;
    top: 470px;
  }

  #meeting-voting {
    height: 700px;
  }
}


@media (max-width: 479px) {
  #proxy {
    display: none;
  }

  #annual {
    display: none;
  }
}