@font-face {
  font-family: 'Open Sans';
  src:url('fonts/open-sans.light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src:url('fonts/open-sans.bold.ttf');
  font-weight: normal;
}

/* Globals */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans";
  width: 100%;
  max-width: 1440px;
  margin: 94px auto 0 auto;
}

header {
  height: 94px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}

.shrink {
  height: 65px;
}

ul {
  list-style: none;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

.nomargin {
  margin: 0 !important;
}

h1, h2, h3, h4 {
  margin: 0;
}

.button.vote.show {
  border: none;
}

/* play & arrow button */

.dropdown .down-arrow {
  font-size: 9px;
  margin-left: 3px;
}

.play-button {
  position: relative;
  top: 2px;
  padding: 0;
  margin-left: 3px;
  width: 20px;
  height: 30px;
  border-style: solid;
  border-width: 15px 0px 15px 20px;
  border-color: transparent transparent transparent #003857;
  background-color: transparent;
  cursor: pointer;
}

.play-button-smaller {
  position: relative;
  top: 2px;
  padding: 0;
  margin-left: 3px;
  width: 16px;
  height: 24px;
  border-style: solid;
  border-width: 12px 0px 12px 16px;
  border-color: transparent transparent transparent #003857;
  background-color: transparent;
  cursor: pointer;
}

/* header */

#menu-trigger:not(.show), #main-nav:not(.show), #logo:not(.show), #annual:not(.show), #proxy:not(.show), header .button:not(.show) {
  display: none;
}

#logo {
  display: block;
  position: absolute;
  top: 24px;
  left: 12%;
  width: 85px;
  height: 42px;
}

.shrink #logo {
  top: 10px;
}

#menu-trigger.show {
  display: block;
  position: absolute;
  top: 36px;
  left: 3%;
}

#menu-trigger img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.shrink #menu-trigger {
    top: 24px;
}


#main-nav.show {
  display: block;
  position: absolute;
  top: 0;
  left: 16%;
}

#main-nav ul {
  float: left;
}

#main-nav ul li {
  float: left;
  display: inline-block;
}

#main-nav li > a {
  display: block;
  padding: 0 7px;
  font-size: 9px;
  color: #043a56;
  line-height: 94px;
}

.shrink #main-nav li > a {
  line-height: 65px;
}

#main-nav li:hover {
  background: rgb(248,248,248);
}

#main-nav li:hover > a {
  font-family: 'Open Sans Bold';
  color: rgb(0, 50, 75);
}

#main-nav li > a:hover .arrow-button {
  background: rgb(248,248,248);
}

#main-nav li li a {
  padding: 2px 5px;
  color: #043a56;
  line-height: 20px;
}

.shrink #main-nav li li a {
  line-height: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 100;
}

.dropdown-content li:first-child {
  padding-top: 10px;
}

.dropdown-content li:last-child {
  padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#proxy {
  display: none;
  position: absolute;
  top: 41px;
  right: 39%;
  margin-right: 30px;
}

#annual {
  display: none;
  position: absolute;
  top: 41px;
  right: 31.5%;
}

.shrink #proxy, .shrink #annual {
  top: 25px;
}

#proxy:hover, #annual:hover {
  text-decoration: underline;
  color: #888;
}

.report {
  font-size: 10px;
  color: #043A56;
  text-decoration: underline;
}

header .button {
  display: block;
  position: absolute;
  border-radius: 0;
  right: 5%;
  top: 38px;
}

.shrink .button {
  top: 21px;
}

.vote {
  width: 80px;
  height: 20px;
  background-color: #c79226;
  font-size: 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.vote:hover {
  color: #fff;
  background-color: #b88420;
}

/* hero-image section */

#hero-section {
  background: url(../images/2xhero-image.jpg) no-repeat left top;
  background-size: cover;
  background-position: center;
  height: 173px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#hero-content {
  margin-top: 20px;
  margin-left: 7.4%;
}

#hero-content h3 {
  font-size: 13px;
  color: #fff;
}

#hero-content .divider {
  margin-top: 10px;
  width: 61px;
  height: 1px;
  border-bottom: solid 2px #fff;
}

#hero-content h1 {
  font-family: 'Open Sans Bold';
  margin-top: 10px;
  margin-bottom: 25px;
  width: 556px;
  height: 22px;
  font-size: 16px;
  color: #fff;
}

#hero-button-container {
  float: left;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 1px 1px 15px;
  border-radius: 20px;
  cursor: pointer;
}

#hero-button-container:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

#hero-button-container .hero-play {
  font-size: 20px;
  color:#003957;
}

#hero-content span {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
}

/* next four pictures container */

/* margin: 20px 90px; */
#picture-content {
  max-width: 1260px;
  margin: 20px 10px;
  clear: both;
}

/* float: left margin: 0 20px 20px 0*/
.col_small {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto 20px auto;
  float: none;
}

.small-photo {
  width: 300px;
  height: 300px;
}

.col_large img {
  display: none;
}

/* margin: 0 20px 20px 0 float: left*/
.col_large {
  background: url('../images/2xour-company.jpg') no-repeat left top;
  background-position: center;
  background-size: cover;
  height: 300px;
  display: block;
  position: relative;
  width: calc(100vw - 835px);
  min-width: 300px;
  max-width: 620px;
  margin: 0 auto 20px auto;
  float: none;
}

/* float: left margin: 0 0 20px 0*/
.col_last {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto 20px auto;
  float: none;
}

.large-photo {
  width: 100%;
  height: 300px;
}

.col_full {
  width: 100%;
  height: auto;
  display: block;
}

.full-photo {
  max-width: 1260px;
  width: 100%;
  height: auto;
}

#picture-button-container .three-picture-play {
  font-size: 23px;
}

#picture-button-container {
  position: absolute;
  top: 23.3%;
  left: 50%;
  margin-left: -28.5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 57px;
  height: 57px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 18px 10px 10px 23px;
  border-radius: 36.5px;
  cursor: pointer;
}


#picture-button-container:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#picture-content h2 {
  position: absolute;
  top: 46.7%;
  left: 0px;
  width: 100%;
  text-align: center;
  height: 38px;
  font-size: 28px;
  color: #fff;
}

#picture-content .col_large h2 {
  width: 100%;
}

.more {
  border-radius: 0px;
  width: 134px;
  height: 43px;
  font-size: 14px;
  font-family: 'Open Sans Bold';
  background-color: transparent;
  cursor: pointer;
}

.more:hover {
  color: #ccc;
}

.white {
  border: solid 2px #ffffff;
  color: #fff;
}

.picture-section {
  position: absolute;
  top: 68.3%;
  left: 50%;
  margin-left: -67px;
}

/* chairman */

#chairman {
  overflow: hidden;
  position: relative;
  clear: both;
  width: 100%;
}

#director {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* left: 17.4% top: 50px*/
#chairman-info {
  position: relative;
  top: 50px;
  left: 5%;
}

/* top: 70px */
#director-info {
  position: relative;
  top: 50px;
  left: 50.6%;
}

/* font-size: 36px; width: 27.8% */
#chairman-info h2,
#director-info h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 43%;
  font-size: 13px;
  font-family: 'Open Sans Bold';
  color: #043a56;
}

/* top: 152px left: 13px width: 52px */
#chairman-info .quote,
#director-info .quote {
  position: absolute;
  top: 52px;
  left: 0px;
  width: 20px;
  height: auto;
}

/* font-size: 14px; top: 150px left: 80px width: 360px */
#chairman-info h3,
#director-info h3 {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 39%;
  height: 60px;
  font-size: 9px;
  color: #043a56;
}

/*  width: 240px height: 436px*/
#chairman-picture {
  background: url('../images/Chairman.png') no-repeat left top;
  background-size: contain;
  margin-top: 30px;
  margin-left: 54.4%;
  width: 110px;
  height: 200px;
}

/* width: 260px height: 412px  margin-left: 30% */
#director-picture {
  background: url('../images/director.png') no-repeat left top;
  background-size: contain;
  margin-top: 30px;
  margin-left: 5%;
  width: 126.2px;
  height: 200px;
}

/* display: block */
#chairman-barrick-icon {
  background: url('../images/barrick-icon.png') no-repeat left top;
  background-size: contain;
  position: absolute;
  top: 86px;
  right: 0;
  height: 328.6px;
  width: 390px;
  z-index: -11;
  display: none;
}

/* display: block */
#director-barrick-icon {
  background: url('../images/barrick-icon-other.png') no-repeat left top;
  background-size: contain;
  position: absolute;
  left: 0px;
  bottom: 25px;
  height: 400px;
  width: 380px;
  z-index: -11;
  display: none;
}

/* top: 280px left: 80px */
.chairman-section,
.director-section {
  position: absolute;
  top: 125px;
  left: 20px;
}

.yellow {
  border-radius: 0px;
  border: solid 2px #ba880b;
  color: #ba880b;
}

.yellow:hover {
  border: solid 2px #9a680b;
  color: #9a680b;
}

#chairman-divider {
  width: 73%;
  height: 3px;
  background-color: #ededed;
}

#director-divider {
  width: 71.5%;
  margin-left: 28.5%;
  height: 3px;
  background-color: #ededed;
}

/* additional info */

/* margin 0 90px */
#additional-info {
  max-width: 1260px;
  margin: 0 10px;
  clear: both;
}

/* margin-top: 80px font-size: 34px height: 46px*/
#additional-info h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  height: 16px;
  color: #043a56;
}

/* width: 380px float: left margin: 3.5% 4.1% 7% 0*/
.col_third {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  margin: 3.5% 0 7.5% 0;
}

/* width: 380px height: 195px background-size: contain*/
.col_third .barrick-background {
  background: url(../images/barrick-background.jpg) no-repeat top left;
  background-size: cover;
  width: 100%;
  height: 184px;
}

/* top 84px height: 24px font-size: 21px */
.col_third h3 {
  position: absolute;
  top: 47%;
  left: 27px;
  height: 24px;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

/* width: 97px top: 78px; */
.col_third .arrow {
  position: absolute;
  top: 46%;
  right: 20px;
  width: 63px;
  height: auto;
  cursor: pointer;
}

/* meeting voting */


/* margin-bottom: 54px; height: 763px; */
#meeting-voting {
  background: url(../images/voting-terms.jpg) no-repeat left top;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}

/* font-size: 34px, height: 46px; margin: 5% 0 3% 6.25% */
#meeting-voting h1 {
  margin: 2% 0 0 6.25%;
  height: 20px;
  font-size: 14px;
  color: #fff;
}

/* default: width 54px; */
.checkbox {
  width: 15px;
  height: auto;
}

/* width: 26.6%; */
#electing, #appointing, #pay-advisory {
  margin: 2% 0;
  width: 94%;
}

#electing {
  margin-left: 6.25%;
  float: left;
}

#appointing {
  margin-left: 4.5%;
  float: left;
}

#pay-advisory {
  margin-left: 4.5%;
  float: left;
}

/* hiding the other two sections for small screen */
#meeting-voting .col_third + .col_third {
  display: none;
}

/* top: 78px; height: 92px font-size: 34px; */
#meeting-voting .col_third h3 {
  position: absolute;
  top: 24px;
  left: 0;
  height: 28px;
  font-size: 13px;
  color: #fff;
  font-family: 'Open Sans Bold';
}

/* top: 180px; height: 147px font-size: 14px; */
#meeting-voting .col_third p {
  position: absolute;
  top: 43px;
  left: 0;
  height: 70px;
  font-size: 9px;
  color: #fff;
}

.meeting-section {
  position: absolute;
  left: 0;
  top: 353px;
}

/* margin-top: 530px margin-left: 27.5%*/
.vote-container {
  position: relative;
  margin-top: 140px;
  margin-left: 13.5%;
}

/* font-size: 36px */
#meeting-voting h2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  font-size: 12px;
  color: #fff;  
}

/* left: 470px */
.meeting-button {
  position: absolute;
  top: 0;
  left: 200px;
  border: none;
  border-radius: 0px;
}

/* annual meeting */

#annual-meeting {
  background: url(../images/footer-crowd.png) no-repeat left top;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  clear: both;
}

#annual-meeting h1 {
  margin-top: 15px;
  width: 95%;
  margin-left: 5%;
  margin-bottom: 10px;
  font-family: 'Open Sans Bold';
  height: 20px;
  font-size: 16px;
  color: #043a56;
}

.annual-section {
  margin-left: 5%;
  float: left;
  width: 43%;
}

.annual-second {
  margin-left: 4%;
  float: left;
}

/* font-size: 24px; margin: 20px 0 0 0;*/
.annual-section h2 {
  margin: 10px 0 0 0;
  font-family: 'Open Sans Bold';
  font-size: 10px;
  color: #043a56;
}

/* font-size: 24px; margin: 16px 0 0 0; */
.annual-section h3 {
  margin: 7px 0 0 0;
  font-size: 10px;
  color: #043a56;
}

/* font-size: 14px */
.annual-section h4 {
  font-size: 8px;
  font-family: 'Open Sans Bold';
  color: #ba880b;
}

/* divider */

#divider {
  height: 9px;
  width: 100%;
  background-color: #043a56;
}

/* footer */

footer {
  position: relative;
  height: 108px;
}

#footer-logo {
  position: absolute;
  width: 85px;
  height: 42px;
  left: 6.25%;
  bottom: 29px;
}


/* at max size, width: 299px, height: 50px, bottom: 25px, font-size: 18px; */

#search-proxy {
  position: absolute;
  right: 6.25%;
  bottom: 37px;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #9b9b9b;
  padding: 0px 25px;
  font-size: 14px;
}

/* max: font-size: 18px */
#search-proxy::placeholder {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #acacaf;
}

/* at max: bottom: 37px */
#search-icon {
  position: absolute;
  right: 8.125%;
  bottom: 40px;
  cursor: pointer;
}