@font-face {
  font-family: 'Open Sans';
  src:url('fonts/open-sans.light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src:url('fonts/open-sans.bold.ttf');
  font-weight: normal;
}

/* Globals */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  height: 94px;
  background-color: #fff;
  position: relative;
}

ul {
  list-style: none;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

.nomargin {
  margin: 0 !important;
}

h1, h2, h3, h4 {
  margin: 0;
}

/* col settings */


/* play & arrow button */
.arrow-button {
  position: relative;
  top: 2px;
  padding: 0;
  margin-left: 3px;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 5px 6px 0px 6px;
  border-color: #202020 transparent transparent transparent;
  cursor: pointer;
}

.play-button {
  position: relative;
  top: 2px;
  padding: 0;
  margin-left: 3px;
  width: 20px;
  height: 30px;
  border-style: solid;
  border-width: 15px 0px 15px 20px;
  border-color: transparent transparent transparent #003857;
  background-color: transparent;
  cursor: pointer;
}

.play-button-smaller {
  position: relative;
  top: 2px;
  padding: 0;
  margin-left: 3px;
  width: 16px;
  height: 24px;
  border-style: solid;
  border-width: 12px 0px 12px 16px;
  border-color: transparent transparent transparent #003857;
  background-color: transparent;
  cursor: pointer;
}

/* header */

#logo {
  position: absolute;
  top: 24px;
  left: 6%;
  width: 85px;
  height: 42px;
}

#menu-trigger {
  display: none;
  position: absolute;
  top: 36px;
  left: 1%;
}

#main-nav {
  position: absolute;
  top: 0;
  left: 16%;
}

#main-nav ul {
  float: left;
}

#main-nav ul li {
  float: left;
  display: inline-block;
}

#main-nav li > a {
  display: block;
  padding: 0 12px;
  font-size: 14px;
  color: rgb(100,100,100);
  line-height: 94px;
}

#main-nav li:hover {
  background: rgb(248,248,248);
}

#main-nav li:hover > a {
  font-family: 'Open Sans Bold';
  color: rgb(0, 50, 75);
}

#main-nav li > a:hover .arrow-button {
  background: rgb(248,248,248);
}

#main-nav li li a {
  padding: 6px 15px;
  color: rgb(150, 150, 150);
  line-height: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 100;
}

.dropdown-content li:first-child {
  padding-top: 10px;
}

.dropdown-content li:last-child {
  padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#proxy {
  position: absolute;
  top: 41px;
  right: 26%;
  margin-right: 30px;
}

#annual {
  position: absolute;
  top: 41px;
  right: 21.5%;
}

#proxy:hover, #annual:hover {
  text-decoration: underline;
  color: #888;
}

.report {
  font-size: 10px;
  color: #043A56;
  text-decoration: underline;
}

header .button {
  position: absolute;
  right: 5%;
  top: 26px;
}


.vote {
  width: 160px;
  height: 40px;
  background-color: #c79226;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.vote:hover {
  color: #c79226;
  background-color: #fff;
}

/* hero-image section */

#hero-section {
  background: url(../images/2xhero-image.jpg) no-repeat left top;
  background-size: cover;
  background-position: center;
  height: 665px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#hero-content {
  margin-top: 145px;
  margin-left: 17.4%;
}

#hero-content h3 {
  height: 30px;
  font-size: 20px;
  color: #fff;
}

#hero-content .divider {
  margin-top: 20px;
  width: 99px;
  height: 1px;
  border-bottom: solid 2px #fff;
}

#hero-content h1 {
  font-family: 'Open Sans Bold';
  margin-top: 15px;
  margin-bottom: 25px;
  width: 556px;
  height: 124px;
  font-size: 46px;
  color: #fff;
}

#hero-button-container {
  float: left;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 73px;
  height: 73px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 18px 25px 12px 25px;
  border-radius: 36.5px;
  cursor: pointer;
}

#hero-button-container:hover {
  background-color: #888;
}

#hero-content span {
  float: left;
  margin-top: 26px;
  margin-left: 20px;
  height: 30px;
  font-size: 21px;
  color: #fff;
}

/* next four pictures container */

#picture-content {
  max-width: 1260px;
  margin: 20px 90px;
  clear: both;
}

.col_small {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 20px 20px 0;
  float: left;
}

.small-photo {
  width: 300px;
  height: 300px;
}

.col_large img {
  display: none;
}

.col_large {
  background: url('../images/2xour-company.jpg') no-repeat left top;
  background-position: center;
  background-size: cover;
  height: 300px;
  display: block;
  position: relative;
  width: calc(100vw - 835px);
  min-width: 300px;
  margin: 0 20px 20px 0;
  float: left;
}

.col_last {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 0 20px 0;
  float: left;
  margin-right: 0;
}

.large-photo {
  width: 100%;
  height: 300px;
}

.col_full {
  width: 100%;
  height: auto;
  display: block;
}

.full-photo {
  max-width: 1260px;
  width: 100%;
  height: auto;
  max-height: 566px;
}

#picture-button-container {
  position: absolute;
  top: 23.3%;
  left: 50%;
  margin-left: -28.5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 57px;
  height: 57px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 20px;
  border-radius: 36.5px;
  cursor: pointer;
}


#picture-button-container:hover {
  background-color: #888;
}

#picture-content h2 {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 300px;
  text-align: center;
  height: 38px;
  font-size: 28px;
  color: #fff;
}

#picture-content .col_large h2 {
  width: calc(100vw - 835px);
  min-width: 300px;
}

.more {
  width: 134px;
  height: 43px;
  font-size: 14px;
  font-family: 'Open Sans Bold';
  background-color: transparent;
  cursor: pointer;
}

.more:hover {
  border: solid 2px #555;
  color: #555;
}

.white {
  border: solid 2px #ffffff;
  color: #fff;
}

.picture-section {
  position: absolute;
  top: 205px;
  left: 50%;
  margin-left: -67px;
}

/* chairman */

#chairman {
  overflow: hidden;
  position: relative;
  height: 490px;
  clear: both;
  width: 100%;
}

#director {
  overflow: hidden;
  position: relative;
  height: 470px;
}

#chairman-info {
  position: relative;
  top: 70px;
  left: 17.4%;
}

#director-info {
  position: relative;
  top: 70px;
  left: 50.6%;
}

#chairman-info h2,
#director-info h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27.8%;
  height: 98px;
  font-size: 36px;
  font-family: 'Open Sans Bold';
  color: #043a56;
}

#chairman-info .quote,
#director-info .quote {
  position: absolute;
  top: 165px;
  left: 13px;
}

#chairman-info h3,
#director-info h3 {
  position: absolute;
  top: 150px;
  left: 80px;
  width: 360px;
  height: 60px;
  font-size: 14px;
  color: #043a56;
}

#chairman-picture {
  margin-top: 30px;
  margin-left: 54.4%;
  width: 240px;
  height: 436px;
}

#director-picture {
  margin-top: 30px;
  margin-left: 30%;
  width: 260px;
  height: 412px;
}

#chairman-barrick-icon {
  position: absolute;
  top: 86px;
  left: 1050px;
  height: 328.6px;
}

#director-barrick-icon {
  position: absolute;
  left: 0px;
  bottom: 25px;
  height: 400px;
}

.chairman-section,
.director-section {
  position: absolute;
  top: 280px;
  left: 80px;
}

.yellow {
  border: solid 2px #ba880b;
  color: #ba880b;
}

/* additional info */

#additional-info {
  max-width: 1260px;
  margin: 0 90px;
  clear: both;
}

#additional-info h2 {
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 34px;
  height: 46px;
  color: #043a56;
}

.col_third {
  display: block;
  position: relative;
  width: 380px;
  margin: 3.5% 4.1% 7% 0;
  float: left;
}

#additional-info div:last-child {
  margin-right: 0;
}

.col_third .barrick-background {
  width: 380px;
  height: 195px;
}

.col_third h3 {
  position: absolute;
  top: 84px;
  left: 27px;
  height: 24px;
  font-size: 21px;
  color: #fff;
  margin: 0;
}

.col_third .arrow {
  position: absolute;
  top: 78px;
  right: 20px;
  width: 97px;
  cursor: pointer;
}

/* meeting voting */

#meeting-voting {
  background: url(../images/voting-terms.jpg) no-repeat left top;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 763px;
  margin-bottom: 54px;
  clear: both;
  overflow: hidden;
}

#meeting-voting h1 {
  margin: 5% 0 3% 6.25%;
  height: 46px;
  font-size: 34px;
  color: #fff;
}

#electing, #appointing, #pay-advisory {
  margin: 2% 0;
  width: 26.6%;
}

#electing {
  margin-left: 6.25%;
  float: left;
}

#appointing {
  margin-left: 4.5%;
  float: left;
}

#pay-advisory {
  margin-left: 4.5%;
  float: left;
}

#meeting-voting .col_third h3 {
  position: absolute;
  top: 78px;
  left: 0;
  height: 92px;
  font-size: 34px;
  color: #fff;
  font-family: 'Open Sans Bold';
}

#meeting-voting .col_third p {
  position: absolute;
  top: 180px;
  left: 0;
  height: 147px;
  font-size: 14px;
  color: #fff;
}

.meeting-section {
  position: absolute;
  left: 0;
  top: 353px;
}

.vote-container {
  position: relative;
  margin-top: 530px;
  margin-left: 27.5%;
}

#meeting-voting h2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  font-size: 36px;
  color: #fff;  
}

.meeting-button {
  position: absolute;
  top: 0;
  left: 470px;
}

/* annual meeting */

#annual-meeting {
  background: url(../images/footer-crowd.png) no-repeat left top;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 528px;
  overflow: hidden;
  clear: both;
}

#annual-meeting h1 {
  margin-top: 85px;
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  font-family: 'Open Sans Bold';
  height: 49px;
  font-size: 36px;
  color: #043a56;
}

.annual-section {
  margin-left: 28.5%;
  float: left;
  width: 21%;
}

.annual-second {
  margin-left: 2%;
  float: left;
}

.annual-section h2 {
  margin: 20px 0 0 0;
  font-family: 'Open Sans Bold';
  font-size: 24px;
  color: #043a56;
}

.annual-section h3 {
  margin: 16px 0 0 0;
  font-size: 24px;
  color: #043a56;
}

.annual-section h4 {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans Bold';
  color: #ba880b;
}

/* divider */

#divider {
  height: 9px;
  width: 100%;
  background-color: #043a56;
}

/* footer */

footer {
  position: relative;
  height: 108px;
}

#footer-logo {
  position: absolute;
  width: 85px;
  height: 42px;
  left: 6.25%;
  bottom: 29px;
}

#search-proxy {
  position: absolute;
  right: 6.25%;
  bottom: 25px;
  width: 299px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #9b9b9b;
  padding: 0px 25px;
}

#search-proxy::placeholder {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #acacaf;
}

#search-icon {
  position: absolute;
  right: 8.125%;
  bottom: 37px;
  cursor: pointer;
}